*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer
{
  
  width: 100%;
  max-width: 1200px;
  height: 20px;
  padding: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 20px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card
{
  border: 1px solid white;
  padding: 20px 30px;
  border-radius: 30px;
  cursor: pointer;
}